<!DOCTYPE html>
<html lang="pt-br">
	<head>
        <meta name="google-site-verification" content="b_YyPYF3hXZY9EmBMFSur8bplY_ThMbNTJ1G-OsFzLk" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>PBtelas - João Pessoa</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
  		<meta name="description" content="A PBtelas trabalha com a instalação de telas mosquiteiras feitas sob medida para manter sua família ou seu negócio longe dos insetos. Em João Pessoa, Paraíba">
        <meta name="keywords" content="pbtelas, mosquitex,tela mosquiteira,tela mosquiteiro,tela velcro,tela perfil aluminio,tela proteção mosquito,tela contra mosquitos e insetos,tela janela,tela pernilongo,joao pessoa paraiba,mosquito,dengue zica zika e chikungunya,fibra de vidro revestida com pvc,rede de proteção,redes de proteção,rede de protecao,redes de protecao,varal de alumínio, varal de aluminio">
        <meta name="ROBOTS" content="index,follow">
        <meta name="GOOGLEBOT" content="INDEX, FOLLOW"> 
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/landing-page.css" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page2">
		<%= yield %>
    </body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/awesome-landing-page.js" type="text/javascript"></script>
</html>


    